div#headerComment {
}

/* rounding for the header comment */

div#headerComment div.botLeft {
	background: url(../../images/bl.png) 0 100% no-repeat;
/*	margin-top: -2px;
	margin-bottom: -2px;
	margin-left: -2px;
	margin-right: -2px; */
}

div#headerComment div.botRight {
	background: url(../../images/br.png) 100% 100% no-repeat;
}

div#headerComment div.topLeft {
	background: url(../../images/tl.png) 0 0 no-repeat;
}

div#headerComment div.topRight {
	background: url(../../images/tr.png) 100% 0 no-repeat;
	padding: 0.4em;
	padding-right: 1em;
	padding-left: 1em;
}

div#headerComment div.top {
	background: url(../../images/dot.png) 0 0 repeat-x;
}

div#headerComment div.bottom {
	background: url(../../images/dot.png) 0 100% repeat-x;
}

div#headerComment div.left {
	background: url(../../images/dot.png) 0 0 repeat-y;
}

div#headerComment div.right {
	background: url(../../images/dot.png) 100% 0 repeat-y;
}

/* rounding for the navigation menu buttons */

div#navigation a span {
	margin-top: -0.4em;
}

div#navigation div.top, div#navigation div.bottom, div#navigation div.left, div#navigation div.right {
}

div#navigation div.top {
	background: url(../../images/dot.png) 0 0 repeat-x;
}

div#navigation div.bottom {
	background: url(../../images/dot.png) 0 100% repeat-x;
}

div#navigation div.left {
	background: url(../../images/lnav.png) 0 0 no-repeat;
}

div#navigation div.right {
	height: 18px;
	background: url(../../images/rnav.png) 100% 0 no-repeat;
}

/* some other hacks for IE */

div#navigation {
	margin-top: 0.3em;
	margin-bottom: 1.4em;
}

.footerText span {
	margin-left: 5px;
	margin-right: 5px;
}
