/* text */

div#content p.contentText:first-child:first-letter {
	color: #6c000a;
}

/* positioning */

div#mainHeader {
	background-color: #757000;
}

div#headerComment {
	border-bottom: 2px dotted #757000;
}

div#navigation > a {
	background-color: #757000;
}
