/**
 *  Current Palette:
 *                main      light
 *    orange:     #ff8e42   #ffac75
 *    slate:      #204444   #306767
 *    blue:       #679a9a   #86aeae
 *    gray:       #909a92   #abb2ac
 *    chocolate:  #c9601a   #e47932
 */
:root {
  --main-text-color:      #909A92;
  --accent-color:         #ff8e42;
  --nav-color:            #679a9a;
  --highlight-nav-color:  #fefefe;
  --highlight-bg-color:   #ffac75;
  --guide-border:         0.5px dotted #aa0000;
  --footer-height:        20px;
}

/* Overall */

body {
  border:       var(--guide-border);
  width:        80%;
  min-width:    600px;
  margin:       auto;
  margin-top:   100px;
  padding:      10px;
  font-family:  'Trebuchet MS', 'Arial', sans-serif;
  color:        var(--main-text-color);
}

a {
  text-decoration:  none;
  color:            inherit;
}


/* Header */

header {
  border:         var(--guide-border);
  display:        block;
  margin-left:    auto;
  margin-right:   5%;
  margin-bottom:  20px;
  padding:        10px;
  width:          50%;
  text-align:     right;
  font-size:      2.25em;
  font-weight:    bold;
  color:          var(--accent-color);
}


/* Navigation */

nav#primary {
  border:         var(--guide-border);
  border-right:   3px solid var(--accent-color);
  margin-left:    10px;
  padding-right:  20px;
  padding-bottom: 10px;
  position:       absolute;
  width:          20%;
  min-width:      140px;
  min-height:     100px;
  font-size:      1.5em;
  vertical-align: middle;
}

nav a {
  display:        block;
  width:          100%;
  padding:        4px;
  padding-right:  10px;
  text-align:     right;
  color:          var(--nav-color);
}

nav a:hover {
  color:            var(--highlight-nav-color);
  background-color: var(--highlight-bg-color);
}


/* Main Content */

.content {
  border:         var(--guide-border);
  margin:         30px;
  margin-left:    33%;
  margin-right:   5%;
}


/* Footer */

footer {
  border:         var(--guide-border);
  position:       absolute;
  bottom:         20px;
  padding:        5px;
  height:         var(--footer-height);
  text-align:     left;
  vertical-align: middle;
}

footer .badges {
  display:    inline;
  height:     var(--footer-height);
  padding:    0.8px;
}

footer .badges img {
  border:     0;
  padding:    0;
  display:    inline;
  opacity:    0.6;
  filter:     grayscale(95%) brightness(100%) contrast(100%);
}

footer .badges img:hover {
  opacity:    1;
  filter:     grayscale(0);
}


/* Miscellaneous */

canvas#drawing {
  border: 1px dashed black;
}
